.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text .title {
    font-size: xx-large;
}

.text .paragraph {
    font-size: medium;
}

.text button {
    padding: 0.5rem;
    width: fit-content;
}